body {
    background-image: url("https://thumbs.gfycat.com/TerrificLightheartedGermanspaniel-small.gif");
    font: medium;
    font-size: 150%;
    color: aliceblue;
}
#conteiner {
 
  display: flex;
  flex-wrap:wrap;
  align-content: center;
}

.conteiner {
    width: 100% ;
    max-width: 100px;
    margin: 0% auto; 
    overflow: hidden; 
}

.acces {
    display: flexbox;
    width: 200%;
    max-width: 400px;
    margin: 0% auto; 
}

#menu{
    display : none
}

