body {
    background-image: url("https://thumbs.gfycat.com/IncompatibleHonoredEidolonhelvum-size_restricted.gif");
    position:absolute;
    
    
    rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font: 800;
    color: aliceblue 
    

}
