body {
    background-image: url("https://thumbs.gfycat.com/IncompatibleHonoredEidolonhelvum-size_restricted.gif");
    color: aliceblue;
}

.conteiner {
    width: 1000%;
    max-width: 1000px;
    margin: 0% auto; 
    overflow: hidden; 
}

.acces {

    width: 200%;
    max-width: 400px;
    margin: 0% auto; 
}

#menu{
    display : none
}

